In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sparse_dot_topn import awesome_cossim_topn 
import re

from sklearn.feature_extraction.text import TfidfVectorizer
from deduping_module import deduping_class

In [2]:
link = r'C:\Users\USER\Documents\LM_project\SAL-230_Revisit validity'
gt = pd.read_csv(link + '\\raw\sf_export.csv', encoding='latin-1')
nm = pd.read_csv(link + '\\raw\pennsylvania-00001.csv', encoding='latin-1')

In [3]:
gt.dropna(subset= ['Salesforce Contact Id'], inplace= True)
gt.drop_duplicates(subset=['Salesforce Account Id'], inplace= True) # need to remove the duplicates in the salesforce account id if we dedupe on the account object
gt.reset_index(drop=True, inplace= True) #always make sure that the index of the inputs are in numerical order or this will cause errors in getting the matches
gt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1029533 entries, 0 to 1029532
Data columns (total 11 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Salesforce Account Id  1029533 non-null  object
 1   Salesforce Contact Id  1029533 non-null  object
 2   Account Name           1029532 non-null  object
 3   First Name             1028281 non-null  object
 4   Last Name              1029506 non-null  object
 5   Email                  614566 non-null   object
 6   Phone                  1001523 non-null  object
 7   Zip Code 1             805570 non-null   object
 8   County 1               785468 non-null   object
 9   State 1                1005552 non-null  object
 10  Quarantine             1029533 non-null  float64
dtypes: float64(1), object(10)
memory usage: 86.4+ MB

Note:
1. the footer on the ground truth file should always be dropped

In [4]:
# initializing the module
deduping = deduping_class(gt)

In [5]:
deduping.ground_truth.head()

,Salesforce Account Id,Salesforce Contact Id,Account Name,First Name,Last Name,Email,Phone,Zip Code 1,County 1,State 1,Quarantine
0,0014y00002LvzGCAAZ,0034y00002QqcZtAAJ,Melcher Law,Doug,Melcher,NaN,(617) 485-0859,NaN,NaN,NaN,0.0
1,0014y00002aVU9TAAW,0034y00002ZjWOiAAN,Kevin Barnett,Kevin,Barnett,kb@barnettfalls.com,NaN,NaN,NaN,NC,0.0
2,0014y00002aVjVkAAK,0034y00002ZjlorAAB,Kellie Jenkins Hohenshelt,Kellie Jenkins,Hohenshelt,NaN,(214) 587-7044,NaN,NaN,TX,0.0
3,0014y00002aVbeeAAC,0034y00002ZjdxQAAR,Jackalynne Fletcher,Jackalynne,Fletcher,NaN,(614) 487-8283,NaN,NaN,OH,0.0
4,0014y00002aVn5XAAS,0034y00002ZjpOtAAJ,Timothy Blair,Timothy,Blair,NaN,(713) 818-8474,NaN,NaN,TX,0.0

#### Step 1:
1. Make sure that the ground truth columns are similar with the dataframe to be matched

In [6]:
# matching the ground truth columns with the to match dataframe
nm.rename(columns={'firstName':'First Name', 'lastName':'Last Name', 'email':'Email', 'phone':'Phone', 'zip':'Zip Code 1'}, inplace= True)

In [7]:
nm.head(3)

,id,title,Last Name,First Name,suffix,status,city,state,county,country,district,Phone,otherPhone,faxNumber,Email,employer,street,middleInitial,admissionDate,Zip Code 1
0,7,NaN,Baird,Robert,NaN,Deceased,CLAIRTON,PENNSYLVANIA,ALLEGHENY,UNITED STATES,District 4,(412) 233-6260,NaN,NaN,NaN,NaN,441 MITCHELL AVE,D,9/29/1958,15025
1,24,NaN,Auld,Howard,NaN,Deceased,ALLISON PARK,PENNSYLVANIA,ALLEGHENY,UNITED STATES,District 4,(412) 486-2300,NaN,NaN,NaN,NaN,2589 DUNCAN AVENUE,S,3/25/1946,15101
2,36,NaN,Banyasz,William,Jr.,Deceased,BONITA SPRINGS,FLORIDA,OUT OF STATE,UNITED STATES,Out of State,(239) 498-4344,NaN,NaN,NaN,NaN,26000 HICKORY BOULEVARD #407,R,3/23/1970,34134

#### Step 2
Now that the columns are matched, we can use the key_selector function. \
This takes 2 inputs, *args and "data=dataframe to be matched"\
This function will return the to be matched dataframe with primary_key value while also adding it in the ground truth but only in the backend

In [8]:
deduping.key_selector('First Name', 'Last Name', 'Phone', data= nm)

#### Optional Step
We can set an optional paramater called ngrams, this means the number of combination the txt will be divided. \
if this is not set, it will automatically equal to 3

In [9]:
deduping.set_ngrams(4)

#### Step 3
This function will convert the ground truth and dataframe to be matched in to tfidf sparse matrix \
the input to this function should be the dataframe with the primarykey \
the results will now be included in the class module

self.nm_tfidf\
self.gt_tfidf

In [10]:
deduping.vectorizer()

#### Step 4
This function will get compare the similarities in the 2 dataframe and save the output in self.match

In [11]:
deduping.get_match(2000)

In [12]:
deduping.matched

,index,left_side,right_side,Ground Truth ID,similarity
0,5,WalterBaczkowski(724) 733-8832,WalterBaczkowski(724) 733-8832,0033000000HXBjxAAH,1.000000
1,16,CharlesAlbright(412) 531-4732,CharlesAlbright Jr.(412) 531-4732,0036000001T2kjtAAB,0.816244
2,19,MichaelBalfe(412) 434-8615,MichaelBalfe(412) 434-8615,0036000001T2kgAAAR,1.000000
3,30,HowardAmes(412) 362-7992,HowardAmes(412) 362-7992,0036000001RhU0OAAV,1.000000
4,33,MylesBerkman(412) 281-1907,MylesBerkman(412) 281-1907,0036000001T2kTjAAJ,1.000000
...,...,...,...,...,...
1995,9487,DerekBrownlee(770) 619-6072,DerekBrownlee(770) 619-6300,0034y00002CSnLKAA1,0.857754
1996,9493,MeredithBrennan(267) 546-3704,MeredithBrennan(267) 546-3704,0036000001T4O6cAAF,1.000000
1997,9504,CynthiaBashore(215) 868-5433,CynthiaBashore(215) 868-5433,0030e00002MZMqbAAH,1.000000
1998,9521,JonathanBird(215) 341-3178,JonathanBird(215) 341-3178,0036000001T2jIkAAJ,1.000000
1999,9522,LeslieBook(610) 519-6416,LeslieBook(610) 519-6416,0036000001T2lX4AAJ,1.000000

#### Notes:
1. If deduping at account object, always remember to remove the duplicates in the Salesforce Account Id
1. always make sure that the index of the inputs are in numerical order or this will cause errors in getting the matches
1. if a selected key value is missing, it has a significant impact on the performance